body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
h1{
	margin: 0px;
	font-size: 50px;
}

div{
	align-items: center;
	text-align: center;
	position: relative;
}


/* Timeline */
.timeline{
	width:100;
	margin: 10px auto 10px auto;
	height: 100px;
}
.bar{
		font-size: 10px;

}

.bar li{
	list-style-type: none;
	float: left;
	margin: auto;
	width: 12.25%;
	padding: %;
	position: relative;
	text-align: center;
}
.bar li:before {
	content:'';
	width: 0px;
	height:0px;
	border:4px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0 auto 30px auto;
}

.bar li:after {
	content:'';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	top: 3px;
	left: -50%;

}

.bar li:last-child:after{
	width: 270%;
	position: absolute;
}

.bar li.active:before{
	content: '';
	width: 0px;
	height: 0px;
	border: 8px solid #fff;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: -5px auto 29px auto;

}

.first{
	height: auto;
	background: #0055FF;
	color: #FFFFFF;

}



.second{
	background: #F7F7F7;

}

.sec{
	width: 50%;
	margin: auto;

}

.secchild{
	margin: auto;
  display: inline-block;
  vertical-align: middle;
	padding: 20px 50px 20px 50px;
  width: %;

}

.secchild a{
	text-decoration: none;
	color: #0055FF;
}

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   font: 16px;
   background: #FFFFFF;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #0000FF;
	padding: 5px 30px;
	margin: 18px;
	border: none;
	cursor: pointer;
	height: auto;
}

@media only screen and (max-width: 1250px) {
	.sec{
		width: 70%;
		margin: auto;

	}

}

@media only screen and (max-width: 850px) {
	h1{
		font-size: 40px;
	
	}

	h4{
	}
	.first{
		color: #FFFFFF;
		width: 95%;

	}
	.second{
	background: #F7F7F7;
	padding: 0;

	}

	.sec{
		width: 90%;
		margin: auto;

	}

	.sec1{


	}

	.sec2{

	}
}


@media only screen and (max-width: 450px) {
	h1{
		font-size: 30px;
	
	}

	h4{
	}

	.first{
		color: #FFFFFF;
		size: 100%;

	}
	.second{
	background: #F7F7F7;

	}

	.sec{
		margin: auto;

	}

	.sec1{


	}

	.sec2{

	}

}


.time div{
	background-color: #000000;
	float: left;
}


.a{
	width: 25%;

}

.b{
	width: 15%;

}

.c{
	width: 15%;

}

.e{
	width: 20%;

}

.f{
	width: 5%;

}




.timeline-content{
	display: inline-block;
	float: left;
	width: 20%;
}
.timeline-content-dot:before{
	content:'';
	width: 0px;
	height:0px;
	border:4px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0 auto 30px auto;
}

.timeline-content-active:before{
	content:'';
	width: 0px;
	height:0px;
	border:4px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0 auto 30px auto;
}

.timeline-content-dot-active {
	content:'';
	width: 0px;
	height:0px;
	border:4px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0 auto 30px auto;
}
.timeline-content:after {
	content:'';
	position: absolute;
	width: 200%;
	height: 1px;
	background-color: #FFFFFF;
	top: 3px;
	left: -50%;

}

.outer-circle {
	background: #0054ff;
	border-radius: 50%;
	height: 18px;
	width: 16px;
	position: relative;
	margin: auto auto;
	margin-top: -6px;
}
.outer-circle-active{
	border: 2px solid white;
	height: 16px !important;
}
.inner-circle {
	position: absolute;
	background: #ffffff;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	top: 50%;
	left: 50%;
	margin: -5.5px 0px 0px -4.6px
}